
CORPUS_TERM_DFCF_FILE = ../dataset/clueweb09/galago/title/clueweb.title.galago.df.cf

QUERY_DATA_FILE = ../dataset/clueweb09/clueweb.title.krovetz.txt

DOC_DATA_FILE = ../dataset/clueweb09/galago/title/clueweb.title.galago.docset

RERANK_DATA_FILE = ../dataset/clueweb09/clueweb.title.galago.2k.out

QREL_FILE = ../dataset/clueweb09/qrels.clueweb.1-150.txt.galago

QREL_IDCG_FILE = ../dataset/clueweb09/clueweb09b.qrels.idcg.galago

WORD_EMBED_FILE = ../dataset/wordvector/clueweb/clueweb.wv.cbow.d300.w10.n10.m1000.i1.W.bin

SAVE_RANKLIST_FILE = DRMM-LCH-IDF-clueweb09-title.ranklist

CORPUS_DOC_COUNT = 33836981

LR_W1 = 0.2

LR_W2 = 0.002

MINI_BATCH = 20

FOLD_SIZE = 5

MAX_ITERATION = 3

# 0:robust04, 1:clueweb09 
TASK_TYPE = 1

# every positive document random sample 10 document for every query
SAMPLE_PERPOSITIVE_LIMITED = 5

SAMPLE_PERQUERY_LIMITED = 1000 

SAMPLE_TOTAL_LIMITED = 10000
