
CORPUS_TERM_DFCF_FILE = ./clueweb09B-title/clueweb.title.galago.df.cf

QUERY_DATA_FILE = ./clueweb09B-title/clueweb.title.krovetz.txt

DOC_DATA_FILE = ./clueweb09B-title/clueweb.title.galago.docset

RERANK_DATA_FILE = ./clueweb09B-title/clueweb.title.galago.2k.out

QREL_FILE = ./clueweb09B-title/qrels.clueweb09b.txt

QREL_IDCG_FILE = ./clueweb09B-title/clueweb.qrels.idcg

WORD_EMBED_FILE = ./wordembedding/clueweb.wv.cbow.d300.w10.n10.m1000.i1.W.bin

SAVE_RANKLIST_FILE = DRMM-LCH-IDF-clueweb09-title.ranklist

CORPUS_DOC_COUNT = 33836981

LR_W1 = 0.2

LR_W2 = 0.002

MINI_BATCH = 20

FOLD_SIZE = 5

MAX_ITERATION = 3

# 0:robust04, 1:clueweb09 
TASK_TYPE = 1

# 0:sigmoid; 1:tanh; 2:
ACTIVATION_FUNC_TYPE = 1

# all query involved or not when evaluate the performance
CAL_ALL_Q = 0

# every positive document random sample 10 document for every query
SAMPLE_PERPOSITIVE_LIMITED = 5

SAMPLE_PERQUERY_LIMITED = 1000 

SAMPLE_TOTAL_LIMITED = 10000
